
body
{
	min-width: 360px;
	font-size: 13px;
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
	margin: 0;
}
.container
{
	width: 100%;
  	margin-right: auto;
  	margin-left: auto;
  	/*padding-right: 15px;
  	padding-left: 15px;*/
}
.row
{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;

}
[class^='col-'] {
  position: relative;
  width: 100%;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 45%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 87.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 98%;}



.padding
{
	padding: 1%;
}
.text-center {
  text-align: center !important;
}
.block_element1_1
{
	padding: 22%;
	background: #F9F9F9;
	font-size: 1.3em;
	text-transform: uppercase;
	text-align: center; 
	letter-spacing: 3px;
	justify-content: center;
}
.rabat_back
{
	background-color: #F5F5F5;
	width: 100%;
}
.text1
{
	font-size: 20px;
	padding-bottom: 5%;
	padding-top: 3%;
}
.rabat_text1
{
	letter-spacing: 3px;
}
.button
{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: white;
	padding: 3% 10% 3%;
	background: black;
}
.footer_back
{
	background: black;
	color: white;
	font-size: 1.4em;
}
.footer_list
{
	list-style-type: none;

}
.element_footer_head
{
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: bold;
}
li
{
	list-style-type: none;
	font-weight: normal;
	text-align: center;
}
li a
{
	text-decoration: none;
	color: white;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
}
.dropdown
{
	display: none;
	padding-left: 0%;
}
.ido
{
	justify-content: center;
	text-align: center;
	width: 100%;
}
.platnosci
{
	display: none;
}
.fb, .mail, .tel
{
	display: none;
}
.slider_elem
{
	width: 100%;
	padding-top: 40%;
	padding-bottom: 40%;
	background: #F9F9F9;
	margin: auto;
	font-size: 25px;
}
.img-fluid
{
	width: 100%;
  height: auto;
}
.marki
{
	width: 80%;
}
.row .marki .slick-arrow
{
	background-color: black;
}
.marki .items img
{
	width: 80%;
}
.new span
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.slider2
{
	width: 80%;
}
.space
{
	padding-top: 8%;
	padding-bottom: 8%;
}
.korzysci_opis
{
	font-size: 15px;
}
.prev
{
	padding-top: 5%;
}

.prev2
{
	padding-top: 14%;
}
.left
{
	font-size: 250%;
	padding-top: 30%;
	color: grey;
}
.right
{
	font-size: 250%;
	padding-top: 30%;
	color: grey;
}
.icon i 
{
	padding: 2%;
	font-size: 250%;
}
.shoes
{
	width: 100%;
}
.row .shoes .slick-arrow
{
	background-color: black;
}
.shoes .items img
{
	width: 100%;
}
.prev3
{
	display: none;
}
.span1
{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 3px;
}
.span2
{
	font-size: 12px;
}
.span3
{
	padding-top: 6%;
	font-size: 15px;
	font-weight: bold;
}
.shoes_rabat
{
	font-size: 13px;
	color: grey;
	text-decoration: line-through;
	font-weight: normal;
	padding-left: 5%;
	vertical-align: text-top;
}
.shoes_rabat_new
{
	color: red;
}
.multiple-items2
{
	padding-bottom: 20%;
}

/*navbar*/

.navbar {
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: white;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-img img
{
	height: auto;
}
.mobile_ikon
{
	display: none;

}
.fa-search, .fa-heart, .fa-shopping-bag
{
	font-size: 2em;
}
.ikony a
{
	padding: 0 10%;
}
.ikony
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;

}
.navbar a
{
	text-decoration: none;
	color: black;
}
.red
{
	background: red;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
}
.rabat_back_red
{
	background-color: red;
	width: 100%;
	margin: 0;
	margin-top: 15%;
}
.rabat_back_red .rabat .text1 {
    font-size: 20px;
    padding-bottom: 3%;
    padding-top: 4%;
}
.hamburger
{
	width: 18.16px;
	height: 14.27px;
	border: 0;
	border-top: 2px solid black;
	background: transparent;
	position: relative;
}
.hamburger::before, .hamburger::after 
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	border-top: 2px solid black;
	transform: translateY(4.15px);
}
.hamburger::after
{
	transform: translateY(10.27px);
}
.rabat_back_black
{
	display: none;
}
.wyszukiwarka button
{
	background: white;
	border: none;
	font-size: 1em;
}
.navbar-menu {
  background-color: white;
  position: absolute;
  left: 0;
  top: 10%;
  width: 80%;
  z-index: 1000;
  height: auto;
  transform: translateX(-100%);
  transition: 0.5s;
  overflow: hidden;
}

.navbar-menu.active 
{ 
	transform: translateX(0);
	transition: 0.5s; 
}
.navbar-menu .menu-listing 
{ 
	padding: 0;
	margin: 0;
	text-align: right;
}

.menu-listing li a {
  background-color: #fff;
  color: #262626;
  display: block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}

.menu-listing li a:hover 
{ 
	background-color: #262626;
	color: #fff;
	transition: 0.5s;
}

.hamburger {
  position:fixed;
  background-color:white;
  cursor:pointer;
  transition:0.3s;
  z-index:9999;

}
.menu-listing li 
{
	display:block;
}

.navbar-menu .menu-listing 
{
	text-align:left;
}

.menu-listing li a
{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.damskie_dropdown
{
	display: none;
}

.sticky 
{
  position: fixed;
  top: 0;
  width: 100%;
}

.damskie_item_down
{
	display: none;
}
/*
.menu
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	flex-direction: column;
	align-items: initial;
	z-index: 1000;
	display: none;
}
.menu > li
{
	line-height: 6rem;
}
.dl-submenu{
	position: initial;
	margin-left: 1rem: 
	max-height: 0;
}
.dl-submenu::before
{
	display: none;
}

.dropdown_menu a
{
    text-decoration: none;
    color: black;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
}*/




/*karta produktu*/
.promo
{

}
.promo1, .promo2
{
	display: inline;
}
.promo1 span
{
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	background: #BB2000;
	color: white;
	padding: 0 2%;
}
.cena_prod
{
	padding: 5% 0;
}
.opis_prod_element1
{
	text-align: left;
}
.opis_prod_cena
{
	font-size: 30px;
	font-weight: bold;
	color: #BB2000;
	font-family: 'Cabin', sans-serif;
}
.opis_prod_cena_old
{
	font-size: 20px;
	color: #CFCFCF;
	text-decoration: line-through;
}
.opis_prod_cena_old_save
{
	font-size: 13px;
	padding-left: 2%;
}
.time_deliver
{
	font-size: 13px;
	padding-top: 5%;
}
.select 
{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    padding-top: 5%;
}    
.select select 
{
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 8px 3px;
    outline: 0;
    border: 1px solid #c3c3c3;
    border-radius: 0px;
    background: #ffffff;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select select::-ms-expand 
{
    display: none;
}
.select select:hover,
.select select:focus 
{
    color: #000000;
    background: #ffffff;
}
.select select:disabled 
{
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow 
{
    position: absolute;
    top: 30px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow 
{
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
.tabela_rozmiarow
{
	font-size: 13px;
}
.tabela_rozmiarow span a
{
	color: black;
	padding-left: 2%;
}
.dodaj_koszyk input
{
	background: #231F20;
	padding: 5% 18%;
	border: none;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 2px;
}
.dodaj_koszyk i
{
	padding-left: 5%;
}
.dodaj_koszyk
{
	padding-top: 10%;
	padding-bottom: 5%;
}
.info_zamowienie div
{
	font-size: 13px;
	padding: 2%;
}
.info_zamowienie div i, .info_zamowienie div span
{
	padding: 1%;
}
.zamow_tel 
{
	margin: 0 5%;
}
.kolory_element2
{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	left: 30%;
	padding-top: 5%;
}
.kolory_element1
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 10%;
}
.kolory
{
	padding-bottom: 15%;
	border-bottom: 1px solid #F5F5F5;
}
.marka_karino
{
	font-size: 13px;
	left: 30%;
	padding-bottom: 10%;
}

.produkt_szczegoly
{
	background: #F5F5F5;
	margin-left: -1%;
}
.produkt_szczegoly .container .row table
{
	width: 100%;
	text-align: left;
	font-size: 15px;
	padding: 2%;
}
td 
{ 
    padding: 8px;
}
td a
{
	color: #BB2000;
	font-weight: bold;
	font-family: 'Cabin', sans-serif;
	text-decoration: none;
}
.opis_produktu_undertable p
{
	text-align: left;
	font-size: 15px;
	margin-left: 2%;
}
.opis_produktu_undertable
{
	background: #F5F5F5;
	padding-left: 2%;
}
.span1_akcesoria
{
	font-size: 13px;
	width: 60%;
}
.ak1
{
	padding: 10% 0;
}
.opinie_klientow i, .opinie_klientow span
{
	font-size: 25px;
	font-weight: bold;
	padding-top: 5%;
}
.margin
{
	margin-left: 2%;
	margin-right: 2%;
}
.side {
  float: left;
  width: 2%;
  padding-right: 4%;
}

.middle {
  float: left;
  width: 70%;
 padding: 2% 2% 0 6%;
}

.right_opinie {
  float: left;
  width: 3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar-5 
{
	width: 68%;
	height: 5px;
	background-color: #231F20;
	border-radius: 1px;
}
.bar-4 
{
	width: 30%;
	height: 5px;
	background-color: #231F20;
	border-radius: 1px;
}
.bar-3 
{
	width: 0%;
	height: 5px;
	background-color: #231F20;
	border-radius: 1px;
}

.bar-1 
{
	width: 4%;
	height: 5px;
	background-color: #231F20;
	border-radius: 1px;
}

.opinia input
{
	padding: 5% 22%;
	position: relative;
	left: 2%;

}
.opinie_klientow_towary .container .row p
{
	margin: 0 0;
}
.opinie_klientow_towary .container .wera p
{
	margin-bottom: 0;
}
.opinie_klientow_towary .container .row
{
	justify-content: left;
}
.icon-thumbs-up-alt
{
	color: black;
	padding-left: 5%;
}
.icon-thumbs-up-alt + span
{
	padding-right: 3%;
}
.color_grey
{
	color: #707070
}
.opinie_klientow_towary .container
{
	border-bottom: 2px solid #CFCFCF;
	padding: 5% 0;
}
.wszystkie_opinie
{
	padding: 5% 0;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	color: black;
	border: none;
}
.wszystkie_opinie .row a
{
	color: black;
}

@media (min-width: 600px)
{
	.rabat_back_red
{
	background-color: red;
	width: 100%;
	margin: 0;
	margin-top: 7%;
}
	.rabat_back_red .rabat .text1 {
    font-size: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
}
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 45%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 87.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 98%;}
.ikony a, .ikony button
{
	padding: 0 8%;
}
} 
@media (min-width: 980px) 
{
	body
	{
		font-size: 25px;
	}
	
	.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 21%;}
.col-lg-4 {width: 31%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 45%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 75%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 87.33%;}
.col-lg-11 {width: 96.3%;}
.col-lg-12 {width: 98%;}
.col-lg-0-1 {width: 4.33%;}
	.rabat_back
	{
		justify-content: center;
		text-align: center;
	}
	.dropdown
{
	display: block;
	margin-top: 10px;

}
.drop
{
	vertical-align:top;
}
.footer_list > li {
    list-style-type: none;
    display: inline-block;
}

.rabat_text2
{
	display: none;
}
.button
{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: white;
	padding: 2% 5% 2%;
	background: black;
}
.element_footer_head
{
	padding: 1%;
}
.footer_list
{
	padding-left: 0%;
	width: 90%;
}
.platnosci
{
	padding-top: 5%;
	display: flex;
	padding-left: 15%;
	width: 70%;
}
.fb, .mail, .tel
{
	display: block;
}
.tel
{
	padding-left: 10%;
	float: left;
	width: 12%
	
}
.tel a
{
	font-size: 13px;
	text-decoration: none;
	color: black;
}
.mail
{
	float: left;
	width: 13%;
}
.mail a
{
	font-size: 13px;
	text-decoration: none;
	color: black;
}
.fb
{
	padding-left: 10%;
	float: left;
	width: 20%;
}
.ido
{
	padding-left: 15%;
	float: left;
	width: 20%;
}
.info
{
	margin-bottom:30px;
}
.slider_elem
{
	padding-top: 10%;
	padding-bottom: 10%;
}
.korzysci_opis
{
	padding-top: 5%;
	padding-bottom: 7%;
}
.marki .items img
{
	width: 60%;
	text-align: center;
	justify-content: center;
	z-index: -1;
}
.prev
{
	padding-top: 1%;
}
.block_carousel .container .row
{
	padding-top: 2%;
	padding-bottom: 2%;
}
.slick-slide
{
	width: 90%;
	padding: 0.3%;
}
.prev2
{
	padding-top: 14%;
}
.left
{
	margin-right: -3%;
	z-index: 1;
	color: white;
}
.right
{
	margin-left: -3%;
	z-index: 1;
	color: white;
}
.icon i 
{
	padding: 2%;
}
.prev3
{
	display: block;
}



.rabat_back_red .rabat .text1, .rabat_back_black .rabat .text1
 {
    font-size: 20px;
}
.hamburger
{
	display: none;
}

.text1 {
    font-size: 20px;
    padding-bottom: 0;
    padding-top: 0;
}
.mobile_ikon
{
	display: block;

}
input[type=search] {
  border: none;
  border-bottom: 1px solid #ccc;
}

.fa-search, .fa-heart, .fa-shopping-bag, .fa-phone-alt,
.fa-user, .fa-angle-right, .fa-angle-down
{
	font-size: 0.5em;
}
.ikony a
{
	padding: 0 1%;
}
.ikony
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	right: 5%;
}

.koszyk_deskop
{
	display: flex;
	flex-direction: row;
	
}
.koszyk_deskop .sum
{
	display: flex;
	flex-direction: column;
	font-size: 13px;
}
#search
{
	font-size: 13px;

}
.wyszukiwarka
{
	position: relative;
	display: flex;
	justify-content: left;
	right: 30%;
}
.wyszukiwarka > .hamburger
{
	background: white;
	border: none;
	border-bottom: 1px solid #ccc;
}
.fa-shopping-bag
{
	justify-content: center;
  	position: relative;
}
.sum
{
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 8%;
}
.bolddropdown
{
	font-weight: bold;
	text-transform: none;
}
.language
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}






.wrapper
{
	width: 100%;
	margin: 20px auto;
	order: 4;
}

nav
{
	position: absolute;
	background: white;
	font-size: 18px;
	color: black;
}
nav > ul
{
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}
nav a
{
	display: block;
	color: black;
	text-decoration: none;
}
nav ul li
{
	color: black;
}
nav > ul > li > a
{
	padding: 15px 25px;
}
nav ul > li .damskie_dropdown > a:after
{
	position: relative;
	float: right;
	content: '';
	margin-left: 10px;
	margin-top: 8px;
}
nav li:hover a
{
	color: white;
	background: black;
}
nav ul .damskie_dropdown
{
	padding: 40px 40px 0 40px;
	background: white;
	text-align: left;
	border-top: 5px solid red;
	z-index: 1;
	position: absolute;
	display: none;
	flex-wrap: wrap;
	width: 1170px;
	left: 0;
}
nav ul .damskie_dropdown ul
{
	width: 25%;
	margin-bottom: 40px;
	color: black;
}
nav ul .damskie_dropdown h4
{
	text-transform: uppercase;
}
nav ul.damskie_dropdown ul li
{
	display: flex;
}
nav ul.damskie_dropdown ul li a
{
	margin-top: 10px;
}
.damskie_dropdown ul li a
{
	display: block;
	transition: 0.1s;
}
nav ul li ul{
	float: left;
	position: relative;
}
nav ul li .column ul
{

	display: block;
}
.rabat_back_black
{
	display: block;
}


.damskie_dropdown
{
	display: block;
}


.damskie_item_down
{
	display: block;
}
.rabat_back_red
{
	order:1;
	background-color: red;
	width: 100%;
	height: 40px;
	margin: 0;
	margin-top: 0;
	top: 0;
}
.rabat_back_red .rabat .text1, .rabat_back_black .rabat .text1
 {
    font-size: 20px;
}
.rabat_back_black
{
	order:2;
	display: block;
	background-color: black;
	width: 100%;
	margin: 0;
	margin-top: 0;
	height: 40px;

}
.black a
{
	background: black;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 0 2%;
}
.fixed-top {
  position: static;
  top: 0;
}

.rabat_back_red
{
	order: 1;
	position: relative;
}
.rabat_back_black
{
	order: 2;
	position: relative;
}
.logo_ikony
{
	order: 3;
}
.navbar-menu, .menu-listing
{
	display: flex;
	z-index: 9999;
}
.rabat_back .rabat .text1
{
	padding-bottom: 5%;
	padding-top: 3%;
}
.cena_prod
{
	order: -3;
	padding: 0 0;
}
.promo
{
	order: -2;
	display: block;
}
.promo2
{
	font-size: 17px;
}
.opis_prod_element1
{
	order: -1;
}
.back_grey
{
	background: #F5F5F5;
	padding-left: 5%;
	padding-right: 2%;
}
.select 
{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 77%;
    padding-top: 5%;
} 
.marka_karino
{
	order: -3;
}  
.kolory_element2 div img
{
	width: 73px;
}
.kolory_element2 div span
{
	font-size: 13px;
}
.kolory_element1
{
	font-size: 25px;
}
.span1
{
	font-size: 30px;
}
.span2
{
	font-size: 15px;
}
}








