
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-thumbs-down:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */